<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="WebApp_ID" version="3.0">

  <display-name>Metamind API</display-name>
  <description>Metamind API</description>
  <module-name>metamind</module-name>
  <distributable/>
  
  <login-config>
    <auth-method>KEYCLOAK</auth-method>
  </login-config>
  
  <context-param>
    <param-name>keycloak.config.resolver</param-name>
    <param-value>fi.metatavu.metamind.server.keycloak.MetamindKeycloakConfigResolver</param-value>
  </context-param>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ping</web-resource-name>
      <url-pattern>/v2/system/ping</url-pattern>
    </web-resource-collection>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>api</web-resource-name>
      <url-pattern>/v2/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>   
  
  <security-role>
    <role-name>user</role-name>
  </security-role>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>files</web-resource-name>
      <url-pattern>/v2/images</url-pattern>
    </web-resource-collection>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>fileslist</web-resource-name>
      <url-pattern>/v2/images/*</url-pattern>
    </web-resource-collection>
  </security-constraint>

</web-app>
